/* Freyja - Stichting Walhalla */
body {
	/*background-color: #000011;*/
	background-image: url("/freyjanetbeans/images/landing.jpg");
	background-size: 2400px auto;
	background-attachment: fixed;
    background-position: center; 
	background-repeat: no-repeat;
	scroll: no-scroll;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
main {
	background-image: url("/freyjanetbeans/images/bg.jpg");
	min-width: 200px;
	max-width: 600px;
	/*max-width: 1200px;*/
	min-height: 200px;
	/*margin: 20% auto;*/
	margin: 15% auto 0 auto;
	padding: 20px;
	opacity: .95;
	
	border-radius: .5px;
	
	-webkit-box-shadow: #666 1px 3px 3px;
	-moz-box-shadow: #666 1px 3px 3px;
	box-shadow: #666 1px 3px 3px;
}
section {
	/*width: 1000px;
	margin: auto;*/
	padding: 20px;
	text-align: center;
	letter-spacing: .1px;
}
section h1 {
    color: #AA1111;
}
header img {
	display: block;
	margin: 0 auto;
	width: 177px;
	-moz-user-select: none;
}
main {
	
}
footer {
	text-align: center;
	font-size: 12px;
}